body {
    background-color: black;
}

img {
    width: 100%;
    border: 5px solid white;
    margin-top: 18px;
}

div {
    width: 50%;
    margin-left: 25%;
}

h1,p {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif; 
    text-transform:  uppercase;
}

p {
    font-size: 30px;
}